.body{
    margin: 0;
    font-family: 'Nunito Sans';
}

.header{
    background-color: #131313;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.container{
    max-width: 1256px;
    margin: 0 auto;
}

.button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.logo{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873
}

.header-nav{
    list-style: none;
    display: flex;
}

.header-nav-items{
    margin-right: 47px;

}

.header-nav-items-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

color: #FFFFFF
}

.phone{
    padding-left: 67px;
    padding-right: 45px;
}

.phone-link{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;

}